<html>
<head>
    <style>
.container {
        margin-top: 100px;
  display: flex;
  /* Flex container properties */
  flex-direction: row; /* or column-reverse, row-reverse, column */
  justify-content: flex-start; /* or flex-end, center, space-between, space-around */
  align-items: stretch; /* or flex-start, flex-end, center, baseline */
  flex-wrap: wrap; /* or wrap, wrap-reverse */
}
.box {
  flex-basis: 15%; /* or 33.33vw for equal width columns */
  height: 100%; /* Adjust the height as per your requirement */
  margin: 25px;
  padding: 10px;
  background-color: #ffffff; /* Set the default background color */
  transition: background-color 0.5s ease;
  
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #dbc1c1;
  padding: 10px;
  z-index: 9999;
}

.navbar-item {
    float: right;
  display: inline-block;
  margin-right: 20px;
  font-size: 25px;
  font-weight: bold;
  color: #040404;
  text-decoration: none;
}
    </style>
<link href="{{ url_for('static', filename= 'css/speedometer.css')}}" rel="stylesheet" type="text/css" />
</head>
<nav class="navbar">
    <a class="navbar-item" href="{{url_for('about')}}">About</a>
    <h1 style="text-align: center;">COFFEE ROASTER</h1>
  </nav>
<body onload="apply()">
  <h1>Panel</h1>
  <input type="hidden" id="a" value = {{ x[0]}}>
  <input type="hidden" id="b" value = {{ x[1]}}>
  <input type="hidden" id="c" value = {{ x[2]}}>
  <div class="container">
    <div class = "box">
    <h1 id="timer"></h1>
    </div>
    <div class="box">
  <div>
    Temp
    <input id="speedoMeterInputRange-1" type="range"  min="0" max="350"/>
    <span hidden id="speedoMeterInputRange-value-1"></span>
  </div>
  <div id="speedometer-1"></div>
  </div>
  <br>
  <div class="box">
  <div>
    Mass
    <input id="speedoMeterInputRange-2" type="range"  min="0" max="40" />
    <span hidden id="speedoMeterInputRange-value-2"></span>
  </div>
  <div id="speedometer-2"></div>
  </div>
  <br>
  <div class="box">
  <div>
    Exhaust fan temperature
    <input id="speedoMeterInputRange-3" type="range"  min="0" max="100" />
    <span hidden id="speedoMeterInputRange-value-3"></span>
  </div>
  <div id="speedometer-3"></div>
  </div>
  </div>
  <input class="input-slider" type="hidden" name="table" id="t" value = {{min}}>
  <input class="input-slider" type="hidden" name="table" id="ts" value = {{sec}}>
</body>
<script src="{{ url_for('static', filename= 'js/speedometer.js')}}"></script>
<script type="text/javascript">
            function changeVal()
            {
                document.getElementById("speedoMeterInputRange-1").value = document.getElementById("a").value;
                document.getElementById("speedoMeterInputRange-2").value = document.getElementById("c").value;
                document.getElementById("speedoMeterInputRange-3").value = document.getElementById("b").value;
            }
            var minutes = document.getElementById("t").value;
            var seconds = document.getElementById("ts").value;
            var value = 0;
            function countdown() {
                var timerDisplay = document.getElementById("timer");
                timerDisplay.innerHTML = minutes + ":" + (seconds < 10 ? "0" : "") + seconds;
                if (minutes == 0 && seconds == 0) {
                    clearInterval(intervalId);
                    timerDisplay.innerHTML = "Time's up!";
                    alert("TIME IS UP, COLLECT YOUR ROASTED BEANS !!");
                } else if (seconds == 0) {
                    minutes--;
                    seconds = 59;
                } else {
                    seconds--;
                }
                value = minutes * 60 + seconds
            }
            var intervalId = setInterval(countdown, 1000);
            function getValue()
            {
                document.getElementById("hid").value = value;
                console.log(value)
                document.getElementById("btn").disabled = false;
            }
  var speedoMeter1 = new speedometer();
  document.getElementById('speedometer-1').append(speedoMeter1.elm);

  var speedoMeterInputRange1 = document.getElementById('speedoMeterInputRange-1');
  var speedoMeterInputRangeVal1 = document.getElementById('speedoMeterInputRange-value-1');

  // var applyconfig1 = document.getElementById('applyconfig1');
  var applyconfig2 = document.getElementById('applyconfig2');
  // var defaultConfig = document.getElementById('defaultConfig');

  speedoMeterInputRange1.onchange = function(e){
    speedoMeter1.setPosition(e.target.value);
    speedoMeterInputRangeVal1.innerText = e.target.value;
  }
  
  var speedoMeter2 = new speedometer();
  document.getElementById('speedometer-2').append(speedoMeter2.elm);

  var speedoMeterInputRange2 = document.getElementById('speedoMeterInputRange-2');
  var speedoMeterInputRangeVal2 = document.getElementById('speedoMeterInputRange-value-2');

  // var applyconfig1 = document.getElementById('applyconfig1');
  var applyconfig2 = document.getElementById('applyconfig2');
  // var defaultConfig = document.getElementById('defaultConfig');

  speedoMeterInputRange2.onchange = function(e){
    speedoMeter2.setPosition(e.target.value);
    speedoMeterInputRangeVal2.innerText = e.target.value;
  }
  var speedoMeter3 = new speedometer();
  document.getElementById('speedometer-3').append(speedoMeter3.elm);

  var speedoMeterInputRange3 = document.getElementById('speedoMeterInputRange-3');
  console.log(speedoMeterInputRange3.value)
  var speedoMeterInputRangeVal3 = document.getElementById('speedoMeterInputRange-value-3');

  // var applyconfig1 = document.getElementById('applyconfig1');
  var applyconfig2 = document.getElementById('applyconfig2');
  // var defaultConfig = document.getElementById('defaultConfig');

  speedoMeterInputRange3.onchange = function(e){
    speedoMeter3.setPosition(e.target.value);
    speedoMeterInputRangeVal3.innerText = e.target.value;
  }
  function apply(e){
    speedoMeter1 = new speedometer({
      divFact:20, 
      maxVal: 350,

      initVal:speedoMeterInputRange1.value,

      dangerColor: 'red',
      bgColor: 'black',
      
      speedArrowColor: 'white',
      nobNumbColor: 'white',

      speedValBGColor: '#666',
      speedValTxtColor: 'white'
    });
    document.getElementById('speedometer-1').innerHTML = '';
    document.getElementById('speedometer-1').append(speedoMeter1.elm);
    
    speedoMeter2 = new speedometer({
      divFact:2, 
      maxVal: 30,

      initVal :speedoMeterInputRange2.value,

      dangerColor: 'red',
      bgColor: 'black',
      
      speedArrowColor: 'white',
      nobNumbColor: 'white',

      speedValBGColor: '#666',
      speedValTxtColor: 'white',
      gagueLabel: 'Kgs'
    });
    document.getElementById('speedometer-2').innerHTML = '';
    document.getElementById('speedometer-2').append(speedoMeter2.elm);
    speedoMeter3 = new speedometer({
      divFact:10, 
      maxVal: 300,

      initVal:speedoMeterInputRange3.value,

      dangerColor: 'red',
      bgColor: 'black',
      
      speedArrowColor: 'white',
      nobNumbColor: 'white',

      speedValBGColor: '#666',
      speedValTxtColor: 'white',
      gagueLabel: 'C'
    });
    document.getElementById('speedometer-3').innerHTML = '';
    document.getElementById('speedometer-3').append(speedoMeter3.elm);
    
  }
  setInterval(function(){changeVal();}, 5000);
  setInterval(function(){apply();}, 6000);
</script>
<form action="{{url_for('times')}}" method="POST">
    <input type="text" id="hid" name="timerr">
    <button onclick="getValue();" type="button">Get the time</button>
    <button type="submit" id="btn" disabled> CHANGE PARAMETERS
    </button>
</form>
</html>    








<!-- <script>
    
/*jslint plusplus: true, sloppy: true, indent: 4 */
(function () {
    "use strict";
    // this function is strict...
}());

var iCurrentSpeed = 20,
    iTargetSpeed = 20,
    bDecrement = null,
    job = null;

function degToRad(angle) {
    // Degrees to radians
    return ((angle * Math.PI) / 180);
}

function radToDeg(angle) {
    // Radians to degree
    return ((angle * 180) / Math.PI);
}

function drawLine(options, line) {
    // Draw a line using the line object passed in
    options.ctx.beginPath();

    // Set attributes of open
    options.ctx.globalAlpha = line.alpha;
    options.ctx.lineWidth = line.lineWidth;
    options.ctx.fillStyle = line.fillStyle;
    options.ctx.strokeStyle = line.fillStyle;
    options.ctx.moveTo(line.from.X,
        line.from.Y);

    // Plot the line
    options.ctx.lineTo(
        line.to.X,
        line.to.Y
    );

    options.ctx.stroke();
}

function createLine(fromX, fromY, toX, toY, fillStyle, lineWidth, alpha) {
    // Create a line object using Javascript object notation
    return {
        from: {
            X: fromX,
            Y: fromY
        },
        to:    {
            X: toX,
            Y: toY
        },
        fillStyle: fillStyle,
        lineWidth: lineWidth,
        alpha: alpha
    };
}

function drawOuterMetallicArc(options) {
    /* Draw the metallic border of the speedometer
     * Outer grey area
     */
/*    options.ctx.beginPath();

    // Nice shade of grey
    options.ctx.fillStyle = "rgb(127,127,127)";

    // Draw the outer circle
    options.ctx.arc(options.center.X,
        options.center.Y,
        options.radius,
        0,
        Math.PI,
        true);

    // Fill the last object
    options.ctx.fill();
*/
}

function drawInnerMetallicArc(options) {
    /* Draw the metallic border of the speedometer
     * Inner white area
     */

    /*options.ctx.beginPath();

    // White
    options.ctx.fillStyle = "rgb(255,255,255)";

    // Outer circle (subtle edge in the grey)
    options.ctx.arc(options.center.X,
                    options.center.Y,
                    (options.radius / 100) * 90,
                    0,
                    Math.PI,
                    true);

    options.ctx.fill();
    
    */
}

function drawMetallicArc(options) {
    /* Draw the metallic border of the speedometer
     * by drawing two semi-circles, one over lapping
     * the other with a bot of alpha transparency
     */

    drawOuterMetallicArc(options);
    drawInnerMetallicArc(options);
}

function drawBackground(options) {
    /* Black background with alphs transparency to
     * blend the edges of the metallic edge and
     * black background
     */
   var i = 0;

    options.ctx.globalAlpha = 0.2;
    options.ctx.fillStyle = "rgb(0,0,0)";

    // Draw semi-transparent circles
    for (i = 170; i < 180; i++) {
        options.ctx.beginPath();

        options.ctx.arc(options.center.X,
            options.center.Y,
            i,
            0,
            Math.PI,
            true);

        options.ctx.fill();
    }
    
}

function applyDefaultContextSettings(options) {
    /* Helper function to revert to gauges
     * default settings
     */

    options.ctx.lineWidth = 2;
    options.ctx.globalAlpha = 0.5;
    options.ctx.strokeStyle = "rgb(255, 255, 255)";
    options.ctx.fillStyle = 'rgb(255,255,255)';
}

function drawSmallTickMarks(options) {
    /* The small tick marks against the coloured
     * arc drawn every 5 mph from 10 degrees to
     * 170 degrees.
     */

    var tickvalue = options.levelRadius - 8,
        iTick = 0,
        gaugeOptions = options.gaugeOptions,
        iTickRad = 0,
        onArchX,
        onArchY,
        innerTickX,
        innerTickY,
        fromX,
        fromY,
        line,
        toX,
        toY;

    applyDefaultContextSettings(options);

    // Tick every 20 degrees (small ticks)
    for (iTick = 10; iTick < 240; iTick += 20) {

        iTickRad = degToRad(iTick);

        /* Calculate the X and Y of both ends of the
         * line I need to draw at angle represented at Tick.
         * The aim is to draw the a line starting on the
         * coloured arc and continueing towards the outer edge
         * in the direction from the center of the gauge.
         */

        onArchX = gaugeOptions.radius - (Math.cos(iTickRad) * tickvalue);
        onArchY = gaugeOptions.radius - (Math.sin(iTickRad) * tickvalue);
        innerTickX = gaugeOptions.radius - (Math.cos(iTickRad) * gaugeOptions.radius);
        innerTickY = gaugeOptions.radius - (Math.sin(iTickRad) * gaugeOptions.radius);

        fromX = (options.center.X - gaugeOptions.radius) + onArchX;
        fromY = (gaugeOptions.center.Y - gaugeOptions.radius) + onArchY;
        toX = (options.center.X - gaugeOptions.radius) + innerTickX;
        toY = (gaugeOptions.center.Y - gaugeOptions.radius) + innerTickY;

        // Create a line expressed in JSON
        line = createLine(fromX, fromY, toX, toY, "rgb(127,127,127)", 3, 0.6);

        // Draw the line
        drawLine(options, line);

    }
}

function drawLargeTickMarks(options) {
    /* The large tick marks against the coloured
     * arc drawn every 10 mph from 10 degrees to
     * 170 degrees.
     */

    var tickvalue = options.levelRadius - 8,
        iTick = 0,
        gaugeOptions = options.gaugeOptions,
        iTickRad = 0,
        innerTickY,
        innerTickX,
        onArchX,
        onArchY,
        fromX,
        fromY,
        toX,
        toY,
        line;

    applyDefaultContextSettings(options);

    tickvalue = options.levelRadius - 2;

    // 10 units (major ticks)
    for (iTick = 20; iTick < 360; iTick += 20) {

        iTickRad = degToRad(iTick);

        /* Calculate the X and Y of both ends of the
         * line I need to draw at angle represented at Tick.
         * The aim is to draw the a line starting on the
         * coloured arc and continueing towards the outer edge
         * in the direction from the center of the gauge.
         */

        onArchX = gaugeOptions.radius - (Math.cos(iTickRad) * tickvalue);
        onArchY = gaugeOptions.radius - (Math.sin(iTickRad) * tickvalue);
        innerTickX = gaugeOptions.radius - (Math.cos(iTickRad) * gaugeOptions.radius);
        innerTickY = gaugeOptions.radius - (Math.sin(iTickRad) * gaugeOptions.radius);

        fromX = (options.center.X - gaugeOptions.radius) + onArchX;
        fromY = (gaugeOptions.center.Y - gaugeOptions.radius) + onArchY;
        toX = (options.center.X - gaugeOptions.radius) + innerTickX;
        toY = (gaugeOptions.center.Y - gaugeOptions.radius) + innerTickY;

        // Create a line expressed in JSON
        line = createLine(fromX, fromY, toX, toY, "rgb(127,127,127)", 3, 0.6);

        // Draw the line
        drawLine(options, line);
    }
}

function drawTicks(options) {
    /* Two tick in the coloured arc!
     * Small ticks every 5
     * Large ticks every 10
     */
    drawSmallTickMarks(options);
    drawLargeTickMarks(options);
}

function drawTextMarkers(options) {
    /* The text labels marks above the coloured
     * arc drawn every 10 mph from 10 degrees to
     * 170 degrees.
     */
    var innerTickX = 0,
        innerTickY = 0,
        iTick = 0,
        gaugeOptions = options.gaugeOptions,
        iTickToPrint = 00;

    applyDefaultContextSettings(options);

    // Font styling
    options.ctx.font = 'italic 10px sans-serif';
    options.ctx.textBaseline = 'top';

    options.ctx.beginPath();

    // Tick every 20 (small ticks)
    for (iTick = 10; iTick < 360; iTick += 20) {

        innerTickX = gaugeOptions.radius - (Math.cos(degToRad(iTick)) * gaugeOptions.radius);
        innerTickY = gaugeOptions.radius - (Math.sin(degToRad(iTick)) * gaugeOptions.radius);

        // Some cludging to center the values (TODO: Improve)
        if (iTick <= 10) {
            options.ctx.fillText(iTickToPrint, (options.center.X - gaugeOptions.radius - 12) + innerTickX,
                    (gaugeOptions.center.Y - gaugeOptions.radius - 12) + innerTickY + 5);
        } else if (iTick < 50) {
            options.ctx.fillText(iTickToPrint, (options.center.X - gaugeOptions.radius - 12) + innerTickX - 5,
                    (gaugeOptions.center.Y - gaugeOptions.radius - 12) + innerTickY + 5);
        } else if (iTick < 90) {
            options.ctx.fillText(iTickToPrint, (options.center.X - gaugeOptions.radius - 12) + innerTickX,
                    (gaugeOptions.center.Y - gaugeOptions.radius - 12) + innerTickY);
        } else if (iTick === 90) {
            options.ctx.fillText(iTickToPrint, (options.center.X - gaugeOptions.radius - 12) + innerTickX + 4,
                    (gaugeOptions.center.Y - gaugeOptions.radius - 12) + innerTickY);
        } else if (iTick < 145) {
            options.ctx.fillText(iTickToPrint, (options.center.X - gaugeOptions.radius - 12) + innerTickX + 10,
                    (gaugeOptions.center.Y - gaugeOptions.radius - 12) + innerTickY);
        } else {
            options.ctx.fillText(iTickToPrint, (options.center.X - gaugeOptions.radius - 12) + innerTickX + 15,
                    (gaugeOptions.center.Y - gaugeOptions.radius - 12) + innerTickY + 5);
        }

        // MPH increase by 10 every 20 degrees
        //iTickToPrint += Math.round(2160 / 9);
         iTickToPrint += 10;
    }

    options.ctx.stroke();
}

function drawSpeedometerPart(options, alphaValue, strokeStyle, startPos) {
    /* Draw part of the arc that represents
    * the colour speedometer arc
    */

    options.ctx.beginPath();

    options.ctx.globalAlpha = alphaValue;
    options.ctx.lineWidth = 5;
    options.ctx.strokeStyle = strokeStyle;

    options.ctx.arc(options.center.X,
        options.center.Y,
        options.levelRadius,
        Math.PI + (Math.PI / 360 * startPos),
        0 - (Math.PI / 360 * 10),
        false);

    options.ctx.stroke();
}

function drawSpeedometerColourArc(options) {
    /* Draws the colour arc.  Three different colours
     * used here; thus, same arc drawn 3 times with
     * different colours.
     * TODO: Gradient possible?
     */

    var startOfGreen = 10,
        endOfGreen = 200,
        endOfOrange = 280;

    drawSpeedometerPart(options, 1.0, "rgb(204,254,255)", startOfGreen);
    drawSpeedometerPart(options, 0.9, "rgb(2,254,255)", endOfGreen);
    drawSpeedometerPart(options, 0.9, "rgb(1,127,127) ", endOfOrange);

}

function drawNeedleDial(options, alphaValue, strokeStyle, fillStyle) {
    /* Draws the metallic dial that covers the base of the
    * needle.
    */
    var i = 0;

    options.ctx.globalAlpha = alphaValue;
    options.ctx.lineWidth = 3;
    options.ctx.strokeStyle = strokeStyle;
    options.ctx.fillStyle = fillStyle;

    // Draw several transparent circles with alpha
    for (i = 0; i < 30; i++) {

        options.ctx.beginPath();
        options.ctx.arc(options.center.X,
            options.center.Y,
            i,
            0,
            Math.PI,
            true);

        options.ctx.fill();
        options.ctx.stroke();
    }
}

function convertSpeedToAngle(options) {
    /* Helper function to convert a speed to the
    * equivelant angle.
    */
    var iSpeed = (options.speed / 10),
        iSpeedAsAngle = ((iSpeed * 20) + 10) % 180;

    // Ensure the angle is within range
    if (iSpeedAsAngle > 180) {
        iSpeedAsAngle = iSpeedAsAngle - 180;
    } else if (iSpeedAsAngle < 0) {
        iSpeedAsAngle = iSpeedAsAngle + 180;
    }

    return iSpeedAsAngle;
}

function drawNeedle(options) {
    /* Draw the needle in a nice read colour at the
    * angle that represents the options.speed value.
    */

    var iSpeedAsAngle = convertSpeedToAngle(options),
        iSpeedAsAngleRad = degToRad(iSpeedAsAngle),
        gaugeOptions = options.gaugeOptions,
        innerTickX = gaugeOptions.radius - (Math.cos(iSpeedAsAngleRad) * 20),
        innerTickY = gaugeOptions.radius - (Math.sin(iSpeedAsAngleRad) * 20),
        fromX = (options.center.X - gaugeOptions.radius) + innerTickX,
        fromY = (gaugeOptions.center.Y - gaugeOptions.radius) + innerTickY,
        endNeedleX = gaugeOptions.radius - (Math.cos(iSpeedAsAngleRad) * gaugeOptions.radius),
        endNeedleY = gaugeOptions.radius - (Math.sin(iSpeedAsAngleRad) * gaugeOptions.radius),
        toX = (options.center.X - gaugeOptions.radius) + endNeedleX,
        toY = (gaugeOptions.center.Y - gaugeOptions.radius) + endNeedleY,
        line = createLine(fromX, fromY, toX, toY, "rgb(127, 127, 127)", 5, 0.6);

    drawLine(options, line);

    // Two circle to draw the dial at the base (give its a nice effect?)
    drawNeedleDial(options, 0.6, "rgb(127, 127, 127)", "rgb(255,255,255)");
    drawNeedleDial(options, 0.2, "rgb(127, 127, 127)", "rgb(127,127,127)");

}

function buildOptionsAsJSON(canvas, iSpeed) {
    /* Setting for the speedometer
    * Alter these to modify its look and feel
    */

    var centerX = 210,
        centerY = 210,
        radius = 150,
        outerRadius = 200;

    // Create a speedometer object using Javascript object notation
    return {
        ctx: canvas.getContext('2d'),
        speed: iSpeed,
        center:    {
            X: centerX,
            Y: centerY
        },
        levelRadius: radius - 10,
        gaugeOptions: {
            center:    {
                X: centerX,
                Y: centerY
            },
            radius: radius
        },
        radius: outerRadius
    };
}

function clearCanvas(options) {
    options.ctx.clearRect(0, 0, 800, 600);
    applyDefaultContextSettings(options);
}

function draw() {
    /* Main entry point for drawing the speedometer
    * If canvas is not support alert the user.
    */
        
    console.log('Target: ' + iTargetSpeed);
    console.log('Current: ' + iCurrentSpeed);
    
    var canvas = document.getElementById('speedometer'),
        options = null;

    // Canvas good?
    if (canvas !== null && canvas.getContext) {
        options = buildOptionsAsJSON(canvas, iCurrentSpeed);

        // Clear canvas
        clearCanvas(options);

        // Draw the metallic styled edge
        drawMetallicArc(options);

        // Draw thw background
        drawBackground(options);

        // Draw tick marks
        drawTicks(options);

        // Draw labels on markers
        drawTextMarkers(options);

        // Draw speeometer colour arc
        drawSpeedometerColourArc(options);

        // Draw the needle and base
        drawNeedle(options);
        
    } else {
        alert("Canvas not supported by your browser!");
    }
    
    if(iTargetSpeed == iCurrentSpeed) {
        clearTimeout(job);
        return;
    } else if(iTargetSpeed < iCurrentSpeed) {
        bDecrement = true;
    } else if(iTargetSpeed > iCurrentSpeed) {
        bDecrement = false;
    }
    
    if(bDecrement) {
        if(iCurrentSpeed - 10 < iTargetSpeed)
            iCurrentSpeed = iCurrentSpeed - 1;
        else
            iCurrentSpeed = iCurrentSpeed - 5;
    } else {
    
        if(iCurrentSpeed + 10 > iTargetSpeed)
            iCurrentSpeed = iCurrentSpeed + 1;
        else
            iCurrentSpeed = iCurrentSpeed + 5;
    }
    
    job = setTimeout("draw()", 5);
}

function drawWithInputValue() {

    var txtSpeed = document.getElementById('txtSpeed');

    if (txtSpeed !== null) {

        iTargetSpeed = txtSpeed.value;

        // Sanity checks
        if (isNaN(iTargetSpeed)) {
            iTargetSpeed = 0;
        } else if (iTargetSpeed < 0) {
            iTargetSpeed = 0;
        } else if (iTargetSpeed > 80) {
            iTargetSpeed = 80;
        }

        job = setTimeout("draw()", 5);
 
    }
}
</script>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Speedometer HTML5 Canvas</title>
</head>
<body onload='draw(0);'>
    <canvas id="speedometer" width="440" height="220">Canvas not available.</canvas>
  <div>
        <form id="drawTemp">
            <input type="text" id="txtSpeed" name="txtSpeed" value="20" maxlength="2"/>
            <input type="button" value="Draw" onclick="drawWithInputValue();">
        </form>
    </div>  
</body>
</html> -->
<!-- <style>
    .speedometer {
  position: relative;
  width: 200px;
  height: 200px;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.needle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 80px;
  transform-origin: bottom center;
  transition: transform 0.5s;
}

.display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Arial, sans-serif;
}

.temperature {
  font-size: 36px;
}

.unit {
  font-size: 16px;
}

</style>
<script>
function setTemperature(temperature) {
  const temperatureElement = document.querySelector('.temperature');
  const needleElement = document.querySelector('.needle');

  temperatureElement.textContent = temperature;

  const rotation = (temperature / 100) * 180 - 90;
  //needleElement.style.transform = `translate(-50%, -100%) rotate(${rotation}deg)`;
}

// Example usage:
function call()
{
for(let i = 0; i < 5 ; ++i)
{
    setTemperature(25*i); // Set the temperature to 25°C
}
}
</script>
<div class="speedometer">
     <img src="speedometer_bg.png" alt="Speedometer Background" class="background-image">
    <img src="needle.png" alt="Speedometer Needle" class="needle"> 
    <div class="display">
      <span class="temperature">0</span>
      <span class="unit">°C</span>
    </div>
    <button onclick="call()"></button>
  </div> -->

  